.container-menu{
    display: flex;
    justify-content: flex-end;
    /*vai fazer o container crescer de acordo com espaço*/
    flex-grow: 1; 
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

/*Itens da lista/menu */
.menu li{
    color: #FFFFFF;
    text-decoration: none;
    
}

.menu li a {
    padding: 5px 10px;
    display: block;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
}

.menu li a:hover{
    background: #333;
    color: #f0f0f0;
    text-shadow: 0px 0px 5px #fff;
    border-radius: 3
}

/*SUB-MENU (dropdown) */
.menu li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222;
    margin: 0;
    padding:  0;
    border-radius: 4px;
    box-shadow: 0 4px 8px #333;
    z-index: 10px;/*  garantir que o submenu fique acima de outros itens  */
    
}